@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "variables";

*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Roboto', sans-serif;
  background: $greyLight;
}
